<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>154118946589-v9292faqk116sptvkufaobqfgcq36svt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154118946589-v9292faqk116sptvkufaobqfgcq36svt</string>
	<key>API_KEY</key>
	<string>AIzaSyDBiCuHLZYKQ7UmwFtTcKqRXJ5uqwEBe5c</string>
	<key>GCM_SENDER_ID</key>
	<string>154118946589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sardzoski.Domashna-141156</string>
	<key>PROJECT_ID</key>
	<string>mahomework-3b940</string>
	<key>STORAGE_BUCKET</key>
	<string>mahomework-3b940.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:154118946589:ios:05881469320195f5</string>
	<key>DATABASE_URL</key>
	<string>https://mahomework-3b940.firebaseio.com</string>
</dict>
</plist>